.derouleur {
  background-color: #ff6060;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  border-radius: 5px;
  padding: 0 20px;
  z-index: 10000000;
  position: relative;
  img {
    cursor: pointer;
  }
}

.rotateBottom {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

.rotateTop {
  transition: transform 0.3s ease;
}

.container-liste {
  display: flex;
  justify-content: center;
  ul {
    list-style: none;
    padding: 0;
    width: 80%;
    li {
      margin-bottom: 30px;
      list-style: none;
    }
  }
}

@media (max-width: 425px) {
  ul {
    width: 100% !important;
  }
  .derouleur {
    height: 40px;
    h2 {
      font-size: 15px;
    }
    img {
      width: 16px;
    }
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*@keyframes slideOutToTop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-30%);
    opacity: 0;
  }
}*/

.openDerouleur {
  opacity: 0;
  animation: slideInFromTop 0.3s ease-in forwards;
  padding: 15px 20px;
  background-color: #fbfbfb;
  p {
    margin-top: 0;
    color: black;
    font-size: 18px;
    font-weight: 400;
  }
}

/*.closedDerouleur {
  animation: slideOutToTop 0.3s ease-in forwards;
}*/
