@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat;
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

$main-color: black;
$secondary-color: white;

body {
  font-family: Montserrat;
  font-weight: 400;
  padding: 50px 25%;
  color: $main-color;
  margin-bottom: 0px;
  padding-bottom: 0px !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  h2 {
    color: $secondary-color;
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
    font-weight: 700;
  }
  p {
    font-size: 24px;
    color: $secondary-color;
  }
  a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 1440px) {
  body {
    padding: 50px 100px;
  }
}

@media only screen and (max-width: 425px) {
  body {
    padding: 20px 10px 0 10px;
    p {
      font-size: 12px;
    }
  }
}
