$main-color: black;
$secondary-color: white;
$third-color: #ff6060;

.info-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;
  .name-location {
    h1 {
      font-size: 36px;
      font-weight: 500;
      color: $third-color;
      margin: 0;
    }
    h3 {
      font-size: 18px;
      font-weight: 500;
      margin: 0 0 20px 0;
    }
    .tags-list {
      margin: 0 0 20px 0;
      display: flex;
      gap: 10px;
      .tag {
        color: $secondary-color !important;
        background-color: $third-color;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 30px;
        border-radius: 10px;
      }
    }
  }

  p {
    color: $main-color !important;
  }

  .host {
    text-align: right;
    .host-item {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: flex-end;
      .host-name {
        color: $third-color !important;
        font-size: 18px;
        font-weight: 500;
        width: 50%;
        text-align: right;
      }
      .img-host {
        width: 64px;
        height: 64px;
        border-radius: 100px;
      }
    }
  }
}

.container-liste-logement {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
  li {
    list-style: none;
    width: 45%;
  }
  ul {
    padding: 0;
  }
}

@media only screen and (max-width: 425px) {
  .name-location {
    h1 {
      font-size: 22px !important;
    }
    h3 {
      font-size: 12px !important;
      margin-bottom: 10px !important;
    }
  }
  .info-container {
    display: block;
  }
  .host {
    display: flex;
    text-align: right;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    .host-name {
      font-size: 15px !important;
    }
  }
  .tags-list {
    margin-bottom: 10px !important;
    .tag {
      font-size: 10px !important;
    }
  }

  .container-liste-logement {
    display: block;
    li {
      width: 100%;
      padding-top: 20px;
    }
  }
}
